section#page-banner.select-none.relative
	.img
		a
			img(loading="lazy" src="./img/banner/page.webp")
	.container(class="top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-10 absolute text-white").transition-all.duration-500
		.wrapper
			.title
			.breadcrumb-here
			.description Với nhiều năm kinh nghiệm, cùng với các luật sư đầu ngành và các chủ đầu tư uy tín, CITIZENPATHWAY là cầu nối giúp quý khách hàng thực hiện hóa giấc mơ đầu tư định cư nhanh chóng và phù hợp nhất.
