section.home-1
	.bg-home-1
		img(src='./img/home-bg/home-bg-1.webp')
	.content-home-1
		img.text-center.mx-auto(src='./img/home-bg/titleSCPC.webp')
		p.font-light.text-46px.text-t2.text-center.flex.flex-col.mt-auto.break-all.mt-5 Phát huy lợi thế của doanh nghiệp gắn liền với quảng bá hình ảnh đất nước, con người Việt Nam  

section.home-2
	.bg-home-2
		img(src='./img/home-bg/home-bg-2.webp')
	.content-home-2
		h2.font-light.text-36px.uppercase.text-t2 Giới thiệu
		p.font-normal.text-18px.text-t2.mt-5.break-all Tổng Công ty Văn hóa Sài Gòn với 19 đơn vị thành viên có bề dày kinh nghiệm hoạt động trong các lĩnh vực in ấn, vật tư – thiết bị ngành in, điện ảnh, sản xuất – kinh doanh chương trình băng đĩa nhạc, phát hành sách, nhiếp ảnh, mỹ thuật,… có nguồn khách hàng truyền thống và là đối tác tin cậy của nhiều doanh nghiệp lớn trên cả nước, đã không ngừng phấn đấu để khẳng định thương hiệu và nâng cao vị thế của mình trên thương trường trong và ngoài nước.
		.btn.flex.mt-10
			.bg-bg1.border.border-full.flex.rounded-full.shadow-s3.mx-auto
				button.text-normal.text-xl.text-t2.bg-primary.px-10.py-3.rounded-full.shadow-s3.btn-text Xem thêm
				button.px-5.py-3.btn-icon
					i.text-t2.font-light.text-xl(class="fa-thin fa-plus")

section.home-3
		.container.mt-10
			h2.font-light.text-36px.text-center.text-primary.header-home-3 LĨNH VỰC HOẠT ĐỘNG
			p.font-normal.text-base.text-t3.text-center.break-all.mt-5 Lorem ipsum dolor sit amet consectetur. Sed lorem volutpat vel facilisi egestas feugiat dolor leo sodales. Blandit facilisi malesuada interdum nunc nunc sed eget eu dui. Sagittis semper vel eget faucibus eget id eget turpis. Viverra tempus venenatis velit viverra.
		.grid.mt-10(class="grid-cols-12")
			div(class="xs:col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-3") 
				.bg-home-3
					img(src='./img/home-bg/h-4.webp')
					.content-home-3
						h2.font-bold.text-36px.text-t2 IN ẤN
						p.font-normal.text-base.text-t2.break-all.desc Trong lĩnh vực in ấn và bao bì, từ lâu Tổng Công Ty Văn hóa Sài Gòn đã là nhà cung cấp chuyên nghiệp và uy tín. Khách hàng có nhu cầu đến với Tổng Công Ty Văn Hóa Sài Gòn sẽ có nhiều cơ hội chọn lựa, hợp tác cùng 8 Công ty chuyên về gia công in ấn và chế bản với đội ngũ công nhân kỹ thuật chuyên nghiệp, các thiết bị chế bản và in ấn hiện đại, hệ thống máy xuất phim, máy in offset nhiều màu của Heidelberg và Komori, máy in flexo 6 màu của Aquaflex và công nghệ gia công hoàn chỉnh sau in …
						
			div(class="xs:col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-3") 
				.bg-home-3
					img(src='./img/home-bg/h-1.webp')
					.content-home-3
						h2.rotate PHÁT HÀNH
			div(class="xs:col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-3")
				.bg-home-3
					img(src='./img/home-bg/h-3.webp')
					.content-home-3
						h2.rotate ĐIỆN ẢNH
			div(class="xs:col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-3") 
				.bg-home-3
					img(src='./img/home-bg/h-2.webp')
					.content-home-3
						h2.rotate DỊCH VỤ

		.btn.flex.mt-10
			.bg-t2.border.border-full.flex.rounded-full.shadow-s3.mx-auto
				button.text-normal.text-xl.text-t2.bg-primary.px-10.py-3.rounded-full.shadow-s3 Xem thêm
				button.px-5.py-3
					i.text-primary.font-light.text-xl(class="fa-thin fa-plus")

section.home-4
	.container 
		h2.font-light.text-36px.text-primary.uppercase.text-center CÔNG BỐ THÔNG TIN
		.bg-home-4.bg-f5
			h5.title THÔNG TIN
			.grid.gap-8.mt-10(class="grid-cols-12")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức của doanh nghiệp năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức của doanh nghiệp năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức của doanh nghiệp năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo tài chính đã kiểm toán  hợp nhất năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo tài chính đã kiểm toán  hợp nhất năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo tài chính đã kiểm toán  hợp nhất năm 2020")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức DN 2018")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức DN 2018")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Báo cáo thực trạng quản trị và cơ cấu tổ chức DN 2018")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Tổ chức bán thanh lý tài sản cố định với hình thức bán chào giá cạnh tranh")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Tổ chức bán thanh lý tài sản cố định với hình thức bán chào giá cạnh tranh")
				+ListCbInformation("fa-sharp fa-regular fa-file-chart-column", "10.11.2022", "Tổ chức bán thanh lý tài sản cố định với hình thức bán chào giá cạnh tranh")
			.btn.flex.mt-10
				.bg-bg1.border.border-full.flex.rounded-full.shadow-s3
					button.text-normal.text-xl.text-t2.bg-primary.px-10.py-3.rounded-full.shadow-s3 Xem thêm
					button.px-5.py-3
						i.text-t2.font-light.text-xl(class="fa-thin fa-plus")

section.home-5 
	.container.pb-20
		.flex.flex-col.mx-auto.text-center.pt-20
			h2.header-new.font-light.text-38px.text-primary.uppercase Tin Tức
			ul.flex.justify-content.mx-auto.space-x-6.font-bold.text-xl.text-t3.mt-7
				li.list-none.text-primary
					a Tất cả
				li.list-none
					a Tin nổi bật
				li.list-none 
					a Tin công ty
				li.list-none
					a Thành viên

		.relative.pt-5
			.swiper.SwiperCardContent
				.swiper-wrapper
					+ListCardNewHome-1("./img/home-bg/h-5.webp", "Tổng Cty Văn hoá Sài Gòn phấn đấu trở thành DN kinh tế văn hóa lớn mạnh", "(HCM Cityweb) – Sáng 10-8, Trưởng ban Tổ chức Thành uỷ Nguyễn Thị Thu Hà và Phó Chủ tịch UBND TP HCM Hứa Ngọc Thuận đã tham dự Đại hội Đảng bộ Tổng công ty Văn hóa Sài Gòn (VHSG) nhiệm kỳ II (2010 – 2015).")
					+ListCardNewHome-1("./img/home-bg/h-6.webp", "NXB Trẻ ra loạt sách mới mừng sinh nhật tuổi 30", "Nhân kỷ niệm 30 năm thành lập, NXB Trẻ ra mắt nhiều sách mới của các tác giả uy tín như Nguyên Ngọc, Hoàng Phủ Ngọc Tường... cùng tuyển tập các cây bút, nhà văn trẻ được yêu thích")
					+ListCardNewHome-1("./img/home-bg/h-5.webp", "Tổng Cty Văn hoá Sài Gòn phấn đấu trở thành DN kinh tế văn hóa lớn mạnh", "(HCM Cityweb) – Sáng 10-8, Trưởng ban Tổ chức Thành uỷ Nguyễn Thị Thu Hà và Phó Chủ tịch UBND TP HCM Hứa Ngọc Thuận đã tham dự Đại hội Đảng bộ Tổng công ty Văn hóa Sài Gòn (VHSG) nhiệm kỳ II (2010 – 2015).")
					
			.button-next
				i(class="fa-light fa-angle-right ml-5")
			.button-prev
				i(class="fa-light fa-angle-left mr-5")
				

section.home-6
		.bg-f5.p-20
			.container 
				h2.font-light.text-36px.text-center.uppercase.text-primary Công ty thành viên
				.relative
					.swiper.mySwiperMember.h-auto.mt-5
						.swiper-wrapper.text-t3.h-full
							+ListCardMemberHom-2("./img/home-2/h-7.webp")
							+ListCardMemberHom-2("./img/home-2/h-8.webp")
							+ListCardMemberHom-2("./img/home-2/h-9.webp")
							+ListCardMemberHom-2("./img/home-2/h-10.webp")
							+ListCardMemberHom-2("./img/home-2/h-11.webp")
							+ListCardMemberHom-2("./img/home-2/h-7.webp")

					.button-next
						i(class="fa-light fa-angle-right")
					.button-prev
						i(class="fa-light fa-angle-left")


script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
script.

	var swiper = new Swiper(".mySwiperMember", {
		slidesPerView: 4,
		spaceBetween: 30,
		navigation: {
			nextEl: ".button-next",
			prevEl: ".button-prev",
		},
		breakpoints: {
		357: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		576: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		640: {
			slidesPerView: 3,
			spaceBetween: 20,
		},
		768: {
			slidesPerView: 4,
			spaceBetween: 40,
		},
		1024: {
			slidesPerView: 5,
			spaceBetween: 50,
		},
	}
	});

script.

	var swiper = new Swiper(".SwiperCardContent", {
		slidesPerView: 2,
		spaceBetween: 30,
		navigation: {
			nextEl: ".button-next",
			prevEl: ".button-prev",
		},
		breakpoints: {
		357: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		576: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		640: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		768: {
			slidesPerView: 2,
			spaceBetween: 40,
		},
		1024: {
			slidesPerView: 2,
			spaceBetween: 50,
		},
	}
	});

