extends ../views/layout/_layout.pug

block var
	- var title = ''
	- var bodyClass = 'homepage'


block main

	//- include ../views/global/banner/main-banner
	//- include ../components/Pages/Home/Home-1/Home-1
	//- include ../components/Pages/Home/Home-2/Home-2
	//- include ../components/Pages/Home/Home-3/Home-3
	//- include ../components/Pages/Home/Home-4/Home-4
	//- include ../components/Pages/Home/Home-5/Home-5
	//- include ../components/Pages/Home/Home-6/Home-6

	include ../components/Pages/Home-1/Home-1
	include ../components/Pages/TinTuc/TinTuc
	include ../components/Pages/Home-3/Home-3