nav.px-2.py-3(class="bg-white border-gray-200 sm:px-4 py-2.5 rounded container mx-auto nav-main")
	div(class="container flex flex-wrap items-center justify-between mx-auto")
		a(href="./home.html" class="flex items-center")
			img(src='../img/logo.webp' alt='logoSCPC')
		
		button(data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false")
			span(class="sr-only") Open main menu
			svg(class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd")
		div(class="hidden w-full md:block md:w-auto" id="navbar-default")

			ul.nav-menu.font-normal.text-t3.flex.flex-col.p-4.mt-4(class='md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium')
				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Trang Chủ

				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Giới Thiệu
				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Lĩnh vực hoạt động
				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Tin tức
				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Công bố thông tin
				li
					a(href='#' class='md:hover:bg-transparent md:p-0 hover:text-primary').block.py-2.pl-3.pr-4.font-normal.text-24px Liên hệ
				li
					a.font-light.text-24px.icon-header(href='#') 
						i(class="fa-thin fa-magnifying-glass text-primary")
				li
					button#dropdownNavbarLink.flex.items-center.justify-between.py-2.pl-3.pr-4.font-light.text-24px.text-primary(data-dropdown-toggle='dropdownNavbar' class='md:w-auto md:p-0 menu-highlight') VN
						i(class="fa-thin fa-angle-down ml-1") 
					#dropdownNavbar.z-10.hidden.w-40.divide-y.divide-gray-100.bg-white.font-normal.shadow
						ul.py-2.text-sm(aria-labelledby='dropdownLargeButton')
							li
								a.block.px-4.py-2(href='#' class='text-24px') USA
					