//- section.home-4.section(setbackground='./img/home/home-2/bg.webp' class='xl:pt-120px')
//- 	.container
//- 		.block-title.heading-h2.font-black.text-center CẢM NHẬN KHÁCH HÀNG
//- 		.home-4-slide.relative
//- 			.swiper
//- 				.swiper-wrapper
//- 					-for(i=0;i<5;i++)
//- 						.swiper-slide
//- 							.item
//- 								.box-img.relative
//- 									.img.relative
//- 										a
//- 											img(loading="lazy" src="./img/home/home-4/pp.webp")
//- 								.content.relative
//- 									.wrapper
//- 										.title CHỊ ĐAN VY
//- 										.sub-title.body-text-3.text-t6 Hội Yêu Bếp
//- 										.ctn.body-text-3.text-t3 "Bí quyết để có những món ăn ngon, độc lạ mà vẫn giữ nguyên hương vị Việt của tôi chỉ cần 2 chai nước xốt me cay và tương ớt Tây Ninh của nhà Dellycook là xong. Loại xốt này rất đậm đặc và vừa miệng mà không cần nêm nếm thêm gia vị gì nhiều nữa."

//- 			.arrow-button
//- 				.swiper-button-prev
//- 				.swiper-button-next
